/*
	terrafirma 1.0 by  nigraphic.com & nodethirtythree.com
*/
*{
padding: 0px;
margin: 0px;
}
body
{
background: #F9F9F7 url('images/a1.gif') repeat-x;
font-size: 11px;
font-family: "trebuchet ms", helvetica, sans-serif;
color: #8C8C73;
line-height: 18px;
}
a
{
color: #FF7800;
text-decoration: underline;
}
a:hover
{
text-decoration: none;
}
sup
{
font-size: 0.5em;
}
p
{
margin-bottom: 14px;
text-align: justify;
}
img.floatleft
{
float: left;
margin: 0px 14px 3px 0px;
}
ul.linklist
{
list-style: none;
}
ul.linklist li
{
border-top: solid 1px #EEEEEE;
padding-top: 5px;
margin: 5px 0px 0px 0px;
}
ul.linklist li.first
{
border-top: 0px;
margin-top: 0px;
padding-top: 0px;
}
#upbg
{
position: absolute;
top: 0px;
left: 0px;
background: #fff url('images/upbg.gif') no-repeat;
width: 747px;
height: 180px;
z-index: 1;
}
#outer
{
position: relative;
width: 747px;
margin: 0px auto;
background: #fff url('images/abg.gif') repeat-y;
}
#inner
{
position: relative;
padding: 13px 30px 13px 30px;
z-index: 2;
}
#header
{
position: absolute;
background: #FF7800 url('images/a8.gif') repeat-x;
width: 222px;
height: 92px;
color: #fff;
}
#header h1 ,#header h1 a
{
font-family: "trebuchet ms", helvetica, sans-serif;
position: absolute;
font-size: 22px;
letter-spacing: -2px;
text-decoration: none;
top: 15px;
padding: 0 2px 3px 5px;
color: #FFF;
width: 140px;
}
#header #title{
	width: 140px;
}
#header #logo-title{
	padding-top: 10px;
}
#header #title, #header #logo-title{
	height: 92px;
	float: left;
	clear: right;
_height: 82px;
}
#header h2
{
position: absolute;
font-size: 11px;
font-weight: normal;
color: #FCE2CA;
top: 45px;
width: 140px;
padding: 2px 2px 2px 10px;
}
#splash
{
position: absolute;
right: 30px;
_left: 229px;
background: #EAEAE2 url('images/a10.jpg') no-repeat;
width: 458px;
height: 92px;
}
#menu
{
position: relative;
background: #46461F url('images/a16.gif') repeat-x;
height: 67px;
padding: 0px 20px 0px 5px;
margin: 98px 0px 20px 0px;
}

#menu ul li
{
display: inline;
line-height: 52px;
padding-left: 3px;
}

#menu ul li.first
{
border-left: 0px;
}

#menu ul li a
{
background-color: transparent;
background-repeat: repeat-x;
padding: 8px 12px 8px 12px;
font-size: 12px;
color: #fff;
font-weight: bold;
}

#menu ul li a:hover
{
background: #fff url('images/a18.gif') repeat-x top;
color: #4A4A24;
text-decoration: none;
}

#date
{
position: absolute;
top: 0px;
line-height: 52px;
color: #BDBDA2;
right: 30px;
font-weight: bold;
font-size: 12px;
letter-spacing: -1px;
}

#secondarycontent
{
position: relative;
width: 200px;
float: right;
margin-right: 20px;
margin-top: -20px; 
}

#secondarycontent h3
{
position: relative;
top: 4px;
font-size: 16px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 10px;
margin-bottom: 10px;
}

#secondarycontent .content
{
padding: 0px 10px 0px 10px;
margin-bottom: 20px;
}

#primarycontent
{
position: relative;
width: 450px;
float: left;
padding: 0;
}

#primarycontent h3
{
position: relative;
top: 4px;
font-size: 15px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 15px;
margin-bottom: 20px;
}

#primarycontent .content
{
padding: 0px 15px 0px 15px;
margin-bottom: 20px;
clear: both;
}

#primarycontent .node
{
margin-bottom: 30px;
}

#primarycontent .node .header
{
position: relative;
}
.post ul{
	margin: 0 0 0 10px;
}
h1 {
	padding: 5px;
	font-size: 14pt;
}
.node h1.title{
	font-size: 12pt;
	float: left;
	clear: both;
	background: url('images/a22.gif') bottom repeat-x;
	width: 100%;
}
.node h1.title a{
	text-decoration: none;
}
.node h1.title a:hover{
	color: #565656;
}
#primarycontent .node .date
{
color: #BDBDA2;
font-weight: 400;
font-size: 10px;
float: left;
clear: both;
margin-bottom: -5px;
}

#primarycontent .footer
{
position: relative;
top: -10px;
background: url('images/a33.gif') repeat-x;
height: 54px;
}

#primarycontent .footer ul
{
list-style: none;
position: absolute;
right: 15px;
bottom: 15px;
}

#primarycontent .footer ul li
{
display: inline;
line-height: 14px;
padding-left: 17px;
margin-left: 25px;
background-repeat: no-repeat;
background-position: 0px 2px;
}
#primarycontent .footer ul li.printerfriendly
{
background-image: url('images/a41.gif');
}
#primarycontent .footer ul li.comment_comments
{
background-image: url('images/a36.gif');
}
#primarycontent .footer ul li.node_read_more
{
background-image: url('images/a38.gif');
}
#block-comment-0 ul li
{
list-style-image: url('images/a36.gif');
}
.description{
		padding-left: 10px;
}
.description .tips li{
	font-size: 8pt;
}
.comment .new{
	color: #F00;
	float: right;
	padding-right: 10px;
	font-weight: bold;
}
.comment{
	margin: 20px 10px 10px 10px;
	border: solid 1px #eee;
}
#footer
{
margin: 40px 0 0 30px;
width: 92%;
position: relative;
clear: both;
height: 66px;
text-align: center;
line-height: 66px;
background-image: url('images/a50.gif');
color: #A8A88D;
}
#footer a
{
color: #8C8C73;
}
/* TABLES */
table {
  margin: 1em 0;
  width: 100%;
}
thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}
td, th {
  padding: .3em .5em;
}

